 <!-- This Page was the only one that I copy it's code and paste it here due to lack of time
      But all the rest of the site is 100% coded by me from scratch even if in my reuseable components
      THis component is from this pen https://codepen.io/Ahmed_B_Hameed/pen/LkqNmp
      with small modification -->

 <div class="section">


 <!-- Error Page -->
 <div class="error">
  <div class="container-floud">
      <div class="col-xs-12 ground-color text-center">
          <div class="container-error-404">
              <div class="clip"><div class="shadow"><span class="digit thirdDigit">4</span></div></div>
              <div class="clip"><div class="shadow"><span class="digit secondDigit">0</span></div></div>
              <div class="clip"><div class="shadow"><span class="digit firstDigit">4</span></div></div>
              <div class="msg">OH!<span class="triangle"></span></div>
          </div>
          <h2 class="h1">Sorry! Page not found</h2>
      </div>
  </div>
</div>
<button class="btn" [routerLink]="['/Home']">&larr; Back</button>

<!-- Error Page -->

</div>


