<div class="project-section">
  <div class="project">
    <!-- first child  -->
    <div class="project-gallery">
      <img [src]="image" alt="first photo" *ngFor="let image of selectedProject.images">
    </div>
    <!-- second child  -->
    <div class="project-overview">
      <h2>{{selectedProject.name}} Project</h2>
      <div class="project-overview__location">
        <a class="btn-outline" [href]="selectedProject.projectLink">
            Link to GitHub <span>&rarr;</span>
        </a>
      </div>
      <div class="project-overview__rating">
        <div class="project-overview__rating-average">{{selectedProject.time}}</div>
        <div class="project-overview__rating-count">{{selectedProject.typeOfTime}}</div>
      </div>
    </div>
    <!-- third child  -->
    <div class="description">
      <div class="description-container">
        <p class="description-paragraph">
          {{selectedProject.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui saepe officia dolore reiciendis quibusdam ex vero iure, molestias, nihil earum quasi omnis, impedit deserunt id expedita placeat voluptatum illo. Quidem!
        </p>

        <ul class="list">
          <li class="list__item" *ngFor="let item of selectedProject.usedFeatures">{{item}}</li>
        </ul>
        <button class="btn" (click)="onBack()">&larr; Back</button>
      </div>
    </div>
  </div>
</div>
