<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////      LIGHT MODE TEMPLATE      /////////////////////////////////////////////////////// -->
<html data-theme="light" *ngIf="!isDark">



<!-- FIRST NAVIGATION FOR MOBILE SCREEN  -->
<div class="navigation">
  <input type="checkbox" class="navigation-checkbox" id="nav-toggle">
  <label for="nav-toggle" class="navigation-btn">
      <span class="navigation-icon"></span>
  </label>
  <div class="navigation-background"></div>
  <nav class="navigation-nav">
      <ul class="navigation-list">
          <li class="navigation-item"><a href="#porfolio" class="navigation-link">01 About Me</a></li>
          <li class="navigation-item"><a href="#porfolio" class="navigation-link">02 Portfolio</a></li>
          <li class="navigation-item"><a href="#contact" class="navigation-link">03 Contact</a></li>
      </ul>
  </nav>
</div>



<!-- SECOND NAVIGATION FOR LARGER SCREEN  -->

<nav class="navbar-big">
  <div class="container">
    <div routerLink="/Home" class="logo">
      Adham Niazy
    </div>

    <ul class="list">
      <li class="list-item"><a routerLink="/Home" class="list-link">Home</a></li>
      <li class="list-item"><a href="#porfolio" class="list-link">Portfolio</a></li>
      <li class="list-item"><a href="#contact" class="list-link">Contact</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

</html>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////      DARK MODE TEMPLATE      /////////////////////////////////////////////////////// -->
<html data-theme="dark" *ngIf="isDark">



<!-- FIRST NAVIGATION FOR MOBILE SCREEN  -->
<div class="navigation">
  <input type="checkbox" class="navigation-checkbox" id="nav-toggle">
  <label for="nav-toggle" class="navigation-btn">
      <span class="navigation-icon"></span>
  </label>
  <div class="navigation-background"></div>
  <nav class="navigation-nav">
      <ul class="navigation-list">
          <li class="navigation-item"><a href="#porfolio" class="navigation-link">01 About Me</a></li>
          <li class="navigation-item"><a href="#porfolio" class="navigation-link">02 Portfolio</a></li>
          <li class="navigation-item"><a href="#contact" class="navigation-link">03 Contact</a></li>
      </ul>
  </nav>
</div>



<!-- SECOND NAVIGATION FOR LARGER SCREEN  -->

<nav class="navbar-big">
  <div class="container">
    <div routerLink="/Home" class="logo">
      Adham Niazy
    </div>

    <ul class="list">
      <li class="list-item"><a routerLink="/Home" class="list-link">Home</a></li>
      <li class="list-item"><a href="#porfolio" class="list-link">Portfolio</a></li>
      <li class="list-item"><a href="#contact" class="list-link">Contact</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

</html>

