@import '../mediaQuery_variables.scss';


html[data-theme='light'] {
  --color-primary: #00A78E;
  --color-primary-dark: #024A45;
  --bg: #F7F7F7;
  --main: #000;
  --sub: #fff;
  --heading-secondry: #8D9697;
  --heading-tertiary: ##647192;

  --heading-primary: #293651;
}

html[data-theme='dark'] {
  --color-primary: #06D6A0;
  --color-primary-dark: #024A45;
  --bg: #000;
  --main: #000;
  --sub: #fff;
  --heading-secondry: #8D9697;
  --heading-tertiary: #F7F7F7;

  --heading-primary: #FFF;
}
// SMALL NAVIGATION FOR MOBILE SCREEN

.navigation {

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
  &-checkbox {
      display: none;
  }

  &-btn {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      position: fixed;
      top: 3rem;
      right: 3rem;
      z-index: 200;
      box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: .1);
      text-align: center;
      cursor: pointer;
  }
  &-btn:hover &-icon::after {
      top: 1rem;
  }
  &-btn:hover &-icon::before {
      top: -1rem;
  }
  &-checkbox:checked ~ &-background {
      transform: scale(80);

  }
  &-checkbox:checked ~ &-nav {
      opacity: 1;
      width: 100%;
  }
  &-background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 3.5rem;
      right: 3.5rem;
      background-image: radial-gradient(var(--color-primary),var(--color-primary-dark));
      z-index: 100;
      transition: transform .8s cubic-bezier(0.86,0,0.07,1);

  }

  &-nav {
      height: 100vh;
      width: 0%;
      position: fixed;
      z-index: 150;
      top: 0;
      right: 0;
      opacity: 0;
      transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);
  }

  &-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      list-style: none;
      text-align: center;
      width: 100%;
  }

  &-item {
      margin: 1rem;
  }

  &-link {
      &:link,
      &:visited {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          padding: 1rem 2rem;
          color: var(--sub);
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(120deg,transparent 0%,transparent 50%, var(--sub) 50%);
          background-size: 220%;
          transition: all .4s ease;
      }
      &:hover,
      &:active {
          background-position: 100%;
          color: var(--color-primary);
          transform: translateX(1rem);
      }
  }
  &-icon {
      position: relative;
      margin-top: 3.5rem;
      &,
      &::before,
      &::after {
          width: 3rem;
          height: 2.4px;
          background-color: var(--main);
          display: inline-block;
      }
      &::before,
      &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s;
      }
      &::before { top: -.8rem; }
      &::after { top: .8rem; }
  }
  &-checkbox:checked + &-btn &-icon {
      background-color: transparent;
  }
  &-checkbox:checked + &-btn &-icon::before {
      top: 0;
      transform: rotate(135deg);
  }
  &-checkbox:checked + &-btn &-icon::after {
      top: 0;
      transform: rotate(-135deg);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////      NAVIGATION FOR BIG SCREEN       ////////////////////////////////////////////////////

.navbar-big {
  display: none;
  position: absolute;
  width: 100%;
  @media only screen and (min-width: $bp-small) {
    display: block;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2rem 0;

  .logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    color: var(--color-primary);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .list {
    list-style: none;
    display: flex;

    &-item {
      padding: 1rem;
      margin-left: 1rem;
      transition: .2s ease-in-out;
    }

    &-item:hover{
      transform: scale(1.1);

    }

    &-link {
      text-decoration: none;
      font-size: 2rem;
      color: var(--sub);
      font-weight: 600;
      @media only screen and (max-width: $bp-normal) {
        color: var(--color-primary);
      }
    }
  }
}
